<div xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     >
    <div>
        <a th:href="@{/}">Home Page</a> |
        <a th:href="@{/listProductsByOrder}">List Orders</a> |
        <a th:href="@{/listProducts}">List Products</a> |
        <a th:href="@{/newOrder}">Create Order</a> |
        <a th:href="@{/newProduct}">Create Product</a>
    </div>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</div>
