<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product list</title>
</head>
<body>
<div th:insert="fragments/header.html"></div>
<h2>Products List</h2>
<a href="listOderedProducts">List products with total ordered quantity.</a>
<br>
<span style="color: blue" >In case you deleted the product you also delete this product from the order. </span>
<br>
<span style="color: crimson">All products and related orders will be removed!</span>
<form th:action="@{/removeAllProducts}" method="get">
    <label for="pass" >Enter password to delete all products: </label>
    <input type="text" name="pass" id="pass">
    <input type="submit" value="Delete">
</form>
<span style="color: crimson" th:text="${pass}"/>

<br>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Product Name</th>
        <th>Product Price</th>
        <th>Product Status</th>
        <th colspan="2">Operations</th>
    </tr>
    <tr th:each="prod: ${list}">
        <td th:text="${prod.id}"/>
        <td th:text="${prod.name}"/>
        <td th:text="${prod.price}"/>
        <td th:text="${prod.status}"/>

        <td>
            <a th:href="@{editProduct/${prod.id}|}">Edit (Not done)</a>
        </td>
        <td>
            <a th:href="@{|/removeProduct/${prod.id}|}">Remove</a>
        </td>
    </tr>

</table>



</body>
</html>